.main {
    display: flex;
    padding: 20px;
    gap: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
}

div.saved-meals {
    flex: 1;
    border: 2px solid black; 
    padding-left: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.7));
    height: 100vh;
    overflow-y: auto; 
    position: sticky;
    top: 20px;
}

div.saved-meals h3{
    color: #f7e1ae;
}

.list{
    list-style: none;
    padding: 0;
}

.list-items{
    margin-bottom:10px;
    display: flex;
    align-items:center;
    cursor:pointer;
}

.list-item{
    width:50px;
    border-radius:5px;
    margin-right:10px;
}